[Unit]
Description=Redis Server(Master)
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/redis-server /etc/redis/redis-6379.conf
ExecStop=/bin/kill -s TERM $MAINPID
PIDFile=/run/redis/redis-server-6379.pid
Restart=always
User=redis
Group=redis

[Install]
WantedBy=multi-user.target
